config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
# @AllArgsConstructor is dangerous to use because adding, removing, or rearranging fields
# changes the generated constructor silently, and may lead to unexpected errors.
lombok.allArgsConstructor.flagUsage = error
# @UtilityClass suffers from a problem where when used as intended, Maven build process can fail.
# Recommend using @NoArgsConstructor(access = AccessLevel.PRIVATE) to create the private
# constructor, mark the class final, and mark all the fields and methods as static.
lombok.utilityClass.flagUsage = error
lombok.extern.findbugs.addSuppressFBWarnings = false
